
@{
    ViewBag.Title = "BasariListesi";
}
<style type="text/css">
    /***** Liste css i *****/
    .liste {
        margin-top: 90px;
    }

        .liste ul {
            text-decoration: none;
            list-style: none;
        }

            .liste ul li a {
                cursor: pointer;
                color: #0094ff;
                text-decoration: none;
                transition: all ease-in-out .5s;
            }

                .liste ul li a:hover {
                    color: rgba(255, 143, 5, 0.85);
                }
    /***** Liste css i Sonu *****/
</style>
<div class="col-md-6 liste">
    <h2>En Başarılı 5 Kullanıcı</h2>
    <ul>
        <li><a>Alper Bozdağ</a></li>
        <li><a>Niran Ünsal</a></li>
        <li><a>Erol Türkoğlu</a></li>
        <li><a>Elif Türk</a></li>
        <li><a>Selda Koçoğlu</a></li>
    </ul>
</div> 